{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="w-full h-[calc(100vh-6rem)] flex items-center justify-center">
        <div class="w-1/2 bg-slate-100 p-8 shadow-md rounded-lg">
            <h1 class="text-2xl text-center">Login</h1>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="flex flex-col gap-2">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control border-[1px] border-slate-500 rounded" autocomplete="email" required autofocus>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="password">Password</label>
                    <input type="password" name="_password" id="password" class="form-control border-[1px] border-slate-500 rounded" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="mt-4 bg-blue-600 rounded p-2 text-white w-full" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock %}
