{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptionController!{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center p-4">
    <h1 class="text-2xl mb-4">Subscription</h1>
    <ul class="grid grid-cols-3 gap-4">
        {% for subscription in subscriptions %}
            <li>
                <div class="relative flex flex-col items-center justify-center bg-slate-200 p-4 rounded-lg gap-4">
                    <h2 class="text-lg font-medium">{{ subscription.title }}</h2>
                    {% if app.user and app.user.subscription and app.user.subscription.id == subscription.id %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute top-0 right-0 -translate-y-1/2 translate-x-1/2"><path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"/><path d="m9 12 2 2 4-4"/></svg>
                    {% endif %}
                    <p class="text-4xl font-extrabold">{{ subscription.price }}€</p>
                    <ul class="list-disc">
                        <li>PDF limit: {{ subscription.pdfLimit }}</li>
                        <li>Duration: 1 an</li>
                    </ul>
                    <form action="{{ path('app_change_subscription', {'id': subscription.id}) }}" method="post" style="display:inline;">
                        {% if app.user and app.user.subscription and app.user.subscription.id == subscription.id %}
                            <button type="submit" class="bg-gray-600 rounded p-2 text-white w-full" disabled>Actual</button>
                        {% else %}
                            <button type="submit" class="bg-blue-600 rounded p-2 text-white w-full">Change subscription</button>
                        {% endif %}
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-green-600 mt-4">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endblock %}
